<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/newspaper_infoPage.css">
    <title>Info</title>
    <script src="https://kit.fontawesome.com/58a6fcb787.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav>
        <a href="/users/dashboard" class="back-btn">
            <i class="fas fa-arrow-left"></i>
        </a>
    </nav>
    <!--adding the newsper body-->
    <main>
        <div class="site-content">
            <div class="profile">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <div class="newspaper-title">
                                <h1>
                                    <%= newspaper.organizationName %>
                                </h1>
                            </div>
                            <div class="tab-summary d-flex flex-column flex-md-row">
                                <div class="summary_image">
                                    <img class=imagenewsp src="/images/<%=newspaper.newspaperName%>.webp"
                                        alt=" newspaper image">
                                </div>
                                <div class="summary_content d-flex align-items-center ms-md-3">
                                    <div class="summaryitems">
                                        <div class="itemsinsummary">
                                            <h2 style="display: inline;">Language:</h2>
                                            <p style="display: inline; font-size: larger;">
                                                <%= newspaper.language %>
                                            </p>
                                        </div>
                                        <div class="itemsinsummary">
                                            <h2 style="display: inline;">Contact:</h2>
                                            <p style="display: inline; font-size: larger;">
                                                <%= newspaper.email%>
                                            </p>
                                        </div>
                                        <div class="itemsinsummary">
                                            <h2 style="display: inline;">Headquarters:</h2>
                                            <p style="display: inline; font-size: larger;">
                                                <%= newspaper.state%>, <%= newspaper.district%>
                                            </p>
                                        </div>
                                        <div class="itemsinsummary">
                                            <h2 style="display: inline;">Owner:</h2>
                                            <p style="display: inline; font-size: larger;">
                                                <%= newspaper.organizationName %>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="expandable-boxes">
                                            <div class="box">
                                                <h3>Contact details</h3>
                                                <p class="short-text">Click here to know more.</p>
                                                <div class="box-content">
                                                    <p>
                                                        <%= newspaper.state%>
                                                    </p>
                                                    <p>
                                                        <%= newspaper.district%>
                                                    </p>
                                                    <p>
                                                        <%= newspaper.buildingName%>
                                                    </p>
                                                    <p>
                                                        <%= newspaper.pincode%>
                                                    </p>
                                                    <p>
                                                        <%= newspaper.email%>
                                                    </p>
                                                    <p>
                                                        <%= newspaper.mobileNumber%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <h3>Booking Details</h3>
                                                <p class="short-text">Click here to know more.</p>
                                                <div class="box-content">
                                                    <p>
                                                        <%= newspaper.fileFormat%>file formats are accepted
                                                    </p>
                                                    <p>
                                                        <%= newspaper.paymentmethods%> payment methods are accepted
                                                    </p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="bookingbut">
                                            <button class="book-btn" id="myButton">BOOK YOUR SLOT</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
    </main>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/newspaper_infoPage.js"></script>
</body>

</html>