<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Bookings</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/userViewBookings.css">
  <script src="https://kit.fontawesome.com/58a6fcb787.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <a href="/users/dashboard" class="back-btn">
      <i class="fas fa-arrow-left"></i>
    </a>
  </nav>
  <main>
    <div class="container">
      <h1>My Bookings</h1>
      <div id="bookingsList">
        <% bookings.reverse().forEach(booking => { %>
          <div class="booking">
            <div class="booking-details">
              <h2>Booking ID: <%= booking._id %></h2>
              <p>Item: <span><%= booking.newspaperName %></span></p>
              <p>Booking Date: <span><%= booking.createdAt %></span></p>
              <p>Publishing Date: <span><%= booking.publishingDate %></span></p>
              <p>Total Cost: <span><%= booking.price %></span></p>
            </div>
            <% if (new Date() < new Date(booking.lastDateOfCancellation)) { %>
              <a href="/users/cancel-slot/<%= booking._id %>" class="cancel-btn">Cancel</a>
            <% } %>
          </div>
        <% }) %>
      </div>      
    </div>
  </main>
  <script src="/javascripts/user_dashboard.js"></script>
</body>
</html>